<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="icon" href="../public/hangman.png">
  </head>
  <body>
    <div class="container">
      <h1>Mystery Word</h1>
      <h3>You have {{numGuesses}} guesses left</h3>
      <div class="word-area">
        <h1>{{displayWord}}</h1>
      </div>
      <section class="game-display">
        <form class="" action="" method="post">
          <input type="text" name="letter" value="">
          <input type="submit" value="Guess">
        </form>
        <form class="" action="/clear" method="post">
          <input type="submit" value="New Word">
        </form>
        <h1>{{message}}</h1>
        <h1>{{tooManyLetters}}</h1>
        <h1>{{alreadyGuessed}}</h1>
        <h3>Letters Guessed: {{#guessedLetters}}{{.}} {{/guessedLetters}}</h3>
      </section>
    </div>
  </body>
</html>
